@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Tilte"] = "Guest Home Page";
}
<div>
    <h1>Guest Dash Board.</h1>
</div>